:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0 auto;
  }
p:last-child {
  margin-bottom: 0;
}

.form-delay{
  display: flex;
  flex-direction: column; 
  gap: 8px;

}
input[name="delay"]{
  /* height: 40px; */
  border-color: #808080;
  border-radius: 4px;
  padding: 8px 0 8px 16px;
  font-size: 16px;
}
input[name="delay"]:hover{
  border-color: #000000;
}
input[name="delay"]:active{
  border-color: fuchsia;
}
fieldset{
  border-color: #808080;
  border-radius: 4px;
  margin-top: 16px;
  display: flex;
  gap: 48px;
}
fieldset:hover{
  border-color: #000000;
}
fieldset:active{
  border-color: red;
}
.form{
  width: 360px;
  padding-top: 36px;
  padding-left: 158px;
  /* display: flex;
  flex-direction: column; */
}
button{
  margin-top: 24px;
  width: 360px;
  background-color: #4E75FF;
  color: #fff;
  padding: 8px 99px;
  border-radius: 8px;
  border: none;
}